h2{
    color:wheat
}

body{
    background-color:bisque;
}
h1 {
    color:
}
.miah {
    color: rgb(250, 250, 250);
    display: block;
    margin-left: auto;
}
body {
    background-image: url("https://wallpapers.com/images/high/bape-bapesta-star-logo-hm6skcdxem4vlvsb.jpg");
    background-size: 100% 100%;
    
 }
 h1 {
     text-align: center;
     border-style: double;
     border-radius: 80%;
     border-width: 10px;
 }
 .miah {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: large;
     border-style: dashed;
     
 }
 h2 {
    text-align:justify;
    border-style:dotted
    border-width: 5px;
 }

.miah {
    height: 100px;
    width: 50%;
    background-color:aqua

}
 