h2{
    color: red
}

body{
    background-color: pink
}
h1 {
    color:
}
.miah {
    color: rgb(0, 0, 0);
    display: ruby-base
    margin-left: auto;
}
body {
    background-image: url("hhttps://www.ixpap.com/images/2021/12/Pink-Moon-Wallpaper.jpeg");
    background-size: 100% 100%;
    
 }
 h1 {
     text-align: center;
     border-style: double;
     border-radius: 80%;
     border-width: 10px;
 }
 .miah {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: large;
     border-style: dashed;
     
 }
 h2 {
    text-align:justify;
    border-style:dotted
    border-width: 5px;
 }
 